// -----------------------------------------------------------------------------
//   Omnipedia <infobox> element stylesheet
// -----------------------------------------------------------------------------

@use '../layout/config' as layout-config; // Configure layout.
@use '../typography/config' as typography-config; // Configure typography.
@use 'sass/helpers/breakpoint';
@use 'sass/helpers/colour';
@use '../components/card';
@use 'infobox/_infobox' as infobox;
@use '../variables/colours';
@use 'base:global/content';
@use 'base:layout/vertical_spacing' as vertical-spacing;

.omnipedia-infobox {

  @include breakpoint.on('>=omnipedia-infobox-floated') {
    margin-top: typography-config.$line-height-compensation;
  }

  @include card.base($padding: infobox.$outer-spacing);

  @include colour.set($background: colours.$secondary-content-background-light);

  @include colour.on-dark-scheme {
    @include colour.set(
      $background: colours.$secondary-content-background-dark
    );
  }

  &__info-item-value {
    // Override base theme definition list styles.
    padding-inline-start: 0;
  }

}

// This uses the same vertical spacing as other content elements plus a bit
// extra to attempt to align with the top of the first line of adjacent <p>
// elements.
@include vertical-spacing.against-previous(
  '.omnipedia-infobox',
  $spacing-small: content.$item-vertical-spacing-small +
    typography-config.$line-height-compensation,
  $spacing-large: content.$item-vertical-spacing-large +
    typography-config.$line-height-compensation
);
