// -----------------------------------------------------------------------------
//   Site layout - Global z-index custom properties
// -----------------------------------------------------------------------------

@use 'base:layout/z-index/stacking_order' as stacking-order;
@use 'base:layout/z-index/custom_properties' as custom-properties;

@include stacking-order.above(modal, sidebars-compact);

@include stacking-order.above(sidebars-compact, privacy-popup);

@include custom-properties.output {

  ///
  /// Privacy pop-up z-index.
  ///
  --privacy-popup-z-index: #{stacking-order.get(privacy-popup)};

  ///
  /// Sidebars in compact mode z-index.
  ///
  --sidebars-compact-z-index: #{stacking-order.get(sidebars-compact)};

  ///
  /// Sidebar closed element z-index in compact mode.
  ///
  --sidebars-compact-closed-elements-z-index: #{stacking-order.get(modal)};

  ///
  /// Floating search anchor z-index.
  ///
  /// This is primarily used to change the URL :target to allow revealing the
  /// search form in compact mode if JavaScript hasn't enhanced it.
  ///
  --search-anchor-z-index: #{stacking-order.get(floating-above)};

  ///
  /// Site reveal animation overlay.
  ///
  --site-reveal-overlay-z-index: #{stacking-order.get(floating-above)};

  ///
  /// Header elements z-index.
  ///
  /// In compact mode, this is both the <header> element and the primary menu
  /// region. Outside of compact mode, this is only the primary menu region.
  ///
  --header-z-index: #{stacking-order.get(floating)};

  ///
  /// Header overlay z-index, both CSS-only and when enhanced by JavaScript.
  ///
  --header-overlay-z-index: #{stacking-order.get(floating-below)};

}
