// -----------------------------------------------------------------------------
//   Site header - Shadow
// -----------------------------------------------------------------------------

@use 'sass/helpers/colour';
@use 'sass/helpers/selector';

///
/// Header shadow on light backgrounds.
///
$shadow-on-light: 0 2px 3px rgba(0, 0, 0, 0.3);

///
/// Header shadow on dark backgrounds.
///
$shadow-on-dark: 0 1px 3px rgba(0, 0, 0, 0.8);

header[role='banner'],
.region-primary-menu {

  &::after {
    box-shadow: $shadow-on-light;

    @include colour.on-dark-scheme {
      box-shadow: $shadow-on-dark;
    }

    transition-property:        opacity;
    transition-duration:        200ms;
    // Opacity transitions look more natural with linear easing.
    transition-timing-function: linear;

    // Don't transition the shadow element during RefreshLess page transitions.
    // Shadow transitions will often not be visible due to us attaching
    // Headroom right at render, which is okay, but sometimes they are in cases
    // where there's no preloaded/cached response to show.
    :root[data-refreshless-page-transition-state]:not(
      [data-refreshless-page-transition-state='revealed']
    ):not(
      [data-refreshless-page-transition-state='initial']
    ) & {
      transition-duration: 0ms;
    }

  }

  // This prevents a brief flash of shadow when swapping a preview for the fresh
  // copy, which involves detaching from the former and then attaching to the
  // latter. This occurs due to one or more frames being rendered with the
  // shadow when no JS is attached, causing the browser to start the
  // transition.
  &.headroom--lock-top::after {
    opacity: 0;
    transition-duration: 0ms;
  }

  &.headroom--top,
  &.headroom--unpinned {
    &::after {
      opacity: 0;
    }
  }

  @include selector.root-conditions((
    '.refreshless-progress-bar-active',
  ), 'html') {
    &.headroom--not-top::after {
      opacity: 1;
    }
  }

  .layout-container:has(.layout-sidebars--open) &,
  .layout-container:has(.omnipedia-header__search-form:focus-within) & {
    &.headroom--not-top::after {
      opacity: 1;
    }
  }

}
