// -----------------------------------------------------------------------------
//   Pitch component
// -----------------------------------------------------------------------------

@use '../../stylesheets/variables/colours'; // Configure colours.
@use '../../stylesheets/typography/config' as typography-config;
@use 'link/link.var' as link-var;
@use 'sass/helpers/colour';
@use 'sass/helpers/hide';
@use 'sass/helpers/breakpoint';
@use 'infobox/_infobox' as infobox;

.region-content,
.offcanvas-panel {

  font-size: 125%;

}

// For specificity.
.layout-content:has(.omnipedia-pitch) {

  h4, h5, h6 {
    font-family: typography-config.$heading-font-stack;
  }

}

// @todo This could cause legitimate content to be hidden; remove during
//   rendering intead.
p:has(.omnipedia-pitch:empty) {
  display: none;
}

.omnipedia-pitch-title {

  display: grid;

  justify-content: center;

  text-align: center;

  font-size: 120%;

  &__title, &__subtitle {

    margin-block: 0;

    font-weight: 300;

  }

  &__title {
    text-transform: uppercase;
  }

  &__subtitle {
    font-style: italic;
  }

}

// Hide the page title when the pitch title is found on the page.
.layout-content:has(.omnipedia-pitch-title) .block-page-title-block {

  display: none;

  & + .block-system-main-block {
    margin-block-start: 0 !important;
  }

}

.omnipedia-pitch-press {

  font-style: italic;

  text-align: center;

  * + & {
    margin-block-start: var(--content-item-spacing-small);
  }

  &__quote {

    &::before, &::after {

      // Override base theme.
      display: inline;

      position: static;

    }

    padding-inline: 0 !important;

    &::before {

      content: "“";

      // Override base theme.
      background-image: none;

    }

    &::after {

      content: "”";

      // Override base theme.
      background-color: transparent;
      margin-inline: 0;

    }

  }

  &__quote, &__author {
    display: inline;
  }

  &__author::before {
    content: '(';
  }

  &__author::after {
    content: ')';
  }

}

.omnipedia-pitch-highlight,
.omnipedia-pitch-press,
.omnipedia-pitch-title {

  color: #{link-var.$normal-colour-on-light};

  @include colour.on-dark-scheme {

    color: #{link-var.$normal-colour-on-dark};

  }

}

// Since we're upping the font size as much as we are, content pop-up titles
// take up a good deal more space. Remove them entirely from display for the
// pitch.
.content-popup__title {

  @include hide.me;

}

.omnipedia-infobox {

  @include breakpoint.on('>=omnipedia-infobox-floated') {
    max-width: 25%;
  }

}
